@charset "UTF-8";

@font-face { /* 티웨이항공체 */
    font-family: 'twayair';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_tway@1.0/twayair.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* 코트라볼드체 */
    font-family: 'KOTRA_BOLD-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* Rix 열정도체 */
    font-family: 'RixYeoljeongdo_Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/RixYeoljeongdo_Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#act-type {
	font-family: 'KOTRA_BOLD-Bold';
	color : #0033c7;
}

.act-type {
	font-family: 'KOTRA_BOLD-Bold';
	
}
#type-ul {
	padding-left:0;
	list-style:none;
}

li {
	float:left;
}

.bg-light {
	background-color : #f2f7fc !important;
}

.sidebar-box {
	padding : 0 25px 0;
}

#top-actname {
	font-family: 'KOTRA_BOLD-Bold';
	text-align:left;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:900i');

* {
  box-sizing: border-box;
}


/* .wrapper-buy {
  width: 250px;
  margin: 150px auto;
} */

#keep-btn1, #keep-btn2, #keep-btn3 {
/* .buy-button { */
  border: none;
  background: none;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
 /*  padding: 12px 32px; */
  padding: 10px 10px;
  height: auto;
  /* width: auto; */
  width:200px;
  font-size: x-large;
  /* font-size: 4rem; */
  font-family: "Sofia Pro", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  color: #e48080;
  background-color: #fff;
  background-image: none;
  border: 2px solid #e48080;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
user-select:none #keep-btn1, user-select:none #keep-btn2 , user-select:none #keep-btn3 {
  padding: 25px 86px;
  font-size: 1.5625rem;
}
#keep-btn1:after, #keep-btn2:after , #keep-btn3:after{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -1;
  display: block;
  content: "";
  height: 22px;
  width: 100%;
  background: url("http://www.kikk.be/2015/files/templates/kikk2015/public/assets/images/floating-card-shadow.png") no-repeat;
  background-size: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#keep-btn1:hover, #keep-btn1:focus, #keep-btn2:hover, #keep-btn2:focus, #keep-btn3:hover, #keep-btn3:focus {
  color: #fff;
  background-color: #e48080;
  text-decoration: none;
  outline: none;
}


/*예약하기 btn */

#reservation-btn1, #reservation-btn2, #reservation-btn3 {
/* .buy-button { */
  border: none;
  background: none;
  position: relative;
  display: inline-block;
  margin-bottom: 0;
 /*  padding: 12px 32px; */
  padding: 10px 10px;
  height: auto;
  /* width: auto; */
  width:200px;
  font-size: x-large;
  /* font-size: 4rem; */
  font-family: "Sofia Pro", sans-serif;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  color: #000000;
  background-color: #fff;
  background-image: none;
  border: 2px solid #000000;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
user-select:none #reservation-btn1, user-select:none #reservation-btn2, user-select:none #reservation-btn3 {
  padding: 25px 86px;
  font-size: 1.5625rem;
}
#reservation-btn1:after, #reservation-btn2:after, #reservation-btn3:after {
  position: absolute;
  top: 100%;
  left: 0;   
  z-index: -1;
  display: block;
  content: "";
  height: 22px;
  width: 100%;
  background: url("http://www.kikk.be/2015/files/templates/kikk2015/public/assets/images/floating-card-shadow.png") no-repeat;
  background-size: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
#reservation-btn1:hover, #reservation-btn1:focus, #reservation-btn2:hover, #reservation-btn2:focus, #reservation-btn3:hover, #reservation-btn3:focus {
  color: #fff;
  background-color: #000000;
  text-decoration: none;
  outline: none;
} 	