/* myPage 배너 css */

. banner hero-wrap hero-wrap-2{
background-size : cover;
background-position : 50% 50%;
}

.hero-wrap .overlay {
background: linear-gradient(270deg, rgba(77, 229, 169, 1) 0%,
		rgba(44, 171, 153, 1) 70%);
}

.banner * {
	color: white;
}
nav>* {
	width: 100%;
}
/* myPage 배너 css END */

/* 타이틀 css */
HTML CSSResult Skip Results Iframe
@import url(https://fonts.googleapis.com/css?family=Oswald:400|Open+Sans:700);

@import url(http://weloveiconfonts.com/api/?family=fontawesome);

/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* 
.h1Class, .h3Class {
  transform: matrix(1, -0.20, 0, 1, 0, 0);
  -ms-transform: matrix(1, -0.20, 0, 1, 0, 0);
  -webkit-transform: matrix(1, -0.20, 0, 1, 0, 0);
} */

#info-title {
	padding:80px;
}
	.text1 {
  position: inherit;
  width: 100%;
  min-width: 800px;
  text-align: center;
  top:0;
/* 	 top: 50%; 
 	padding : 50%; 
  	 margin-top: -55px;  */
}
.h1Class {
  font-family: "Oswald", Sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 70px;
  text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
}

.h1Class span {
  display: inline-block;
  vertical-align: middle;
}

span.star {
  font-size: 20px;
}

.h3Class {
  font-family: "Open Sans", Sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.1em;
  margin-bottom: 10px;  
  position: relative;
}

.h3Class:before, .h3Class:after {
  content: " ";
  position: absolute;
  width: 100px;
  height: 4px;
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
}

.h3Class:before {
  margin: 5px 0 0 -110px;
}

.h3Class:after {
  margin: 5px 0 0 10px;
}
