@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto|K2D');

html, body {
  background: #3a9dd8;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: K2D, Roboto, Arial, sans-serif;
}

form {
  display: inline-block;
  background: #fff;
  padding: 1.5rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 4px;
}

form svg {
  margin: auto auto;
  display: block;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 0;
}

legend {
  font-size: 14px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

fieldset > div {
  position: relative;
  margin-top: 0.4rem;
  background: #efefef;
}

fieldset .placeholder {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); 
  z-index: 5;
  font-size: 1.1rem;
  transition: all 0.25s;
  color: #666;
  pointer-events: none;
}

fieldset .placeholder.active {
  font-size: 0.6rem;
  color: #999;
  margin-top: -0.8rem;
}

fieldset input {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  padding: 1rem;
  font-size: 1.1rem;
  position: relative;
  z-index: 3;
}

fieldset.with-placeholder input {
  padding: 1.3rem 1rem 0.7rem 1rem;
}

/* 유효성 검사 */
.invalid-check {
	font-size: 0.8rem;
	color: red;
	background: none;
}

/* 로그인 유형 선택 */
.member-checkbox {
	display: inline-block;
	position: relative;
	left: 50%;
	-webkit-transform: translate(-50%,0);
	transform:translate(-50%,0);
	margin-top: 5px;
}
.member-checkbox label {
	padding: 0 19px;
}

.enroll-and-findId {
	text-align: right;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: none;
}
.enroll-and-findId a {
	color: #333;
	padding: 0 5px;
	
}

/* 말풍선 */
#text-bubble {
	background-image: url(../../images/member/purple_balloon.svg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	color: white;
	width: 200px;
	height: 50px;
	position: absolute;
	text-align: center;
	padding-top: 40px;
    padding-bottom: 30px;
    line-height: 1.2;
    top: -50px;
	left: 250px;
}

/*가운데서 좌우로 펼쳐지는 라인 에니메이션*/
.spread-underline {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  padding: 0 0 10px 0;
  position: relative;
}

input[type=radio] + label .spread-underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #ffc107;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

input[type=radio]:checked + label .spread-underline:after {
  width: 100%; 
  left: 0; 
}

input[type=button] {
	border-radius: 3px;
	padding: 13px;
	margin: 0.4rem 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: Pointer;
}
#submit {
  background-color: #56baed;
  color: #fff;
  transition: all 0.3s;
  box-sizing: border-box;
  border: 1px solid #56baed;
}
#submit:hover {
	--background-color: #3a9dd8;
	background-color: #fff;
	color: #56baed;
}
#kakao {
	background-color: #fee500;
	box-sizing: border-box;
	border: 1px solid #fee500;
	border-radius: 3px;
	color: rgba(0,0,0,0.85);
	font-size: 1.1rem;
	width: 100%;
	height: 52px;
	cursor: Pointer;
}
#kakao img {
	width: 20px;
	padding-right: 3px;
}