@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Roboto|K2D');

html, body {

  background: #56baed;
  font-size: 16px;
  margin: 0;
  padding: 0;
  font-family: K2D, Roboto, Arial, Verdana, sans-serif;
}

form {
  display: inline-block;
  background: #fff;
  padding: 1.5rem;
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 350px;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  border-radius: 4px;
}

form svg {
  margin: auto auto;
  display: block;
}

fieldset {
  border: 0;
  padding: 0;
  margin: 1.0rem 0 0 0;
}

legend {
  margin: 0;
  padding: 0;
}

fieldset > div {
  border-radius: 3px;
  position: relative;
  margin-top: 0.4rem;
  background: #efefef;
}

fieldset .placeholder {
  position: absolute;
  top: 50%;
  left: 1rem;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%); 
  z-index: 5;
  font-size: 1.1rem;
  transition: all 0.25s;
  color: #666;
  pointer-events: none;
}

fieldset .placeholder.active {
  font-size: 0.6rem;
  color: #999;
  margin-top: -0.8rem;
}

fieldset input {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: transparent;
  border: 0;
  padding: 1rem;
  font-size: 1.1rem;
  position: relative;
  z-index: 3;
}

fieldset.with-placeholder input {
  padding: 1.3rem 1rem 0.7rem 1rem;
}

fieldset input[type=submit] {
  border-radius: 3px;
  background-color: #56baed;
  color: #fff;
  box-shadow: 3px 3px 3px rgba(87, 186, 237, .5);
  cursor: pointer;
  font-family: Roboto, K2D, Arial, Verdana, Sans-serif;
}

.member-check {
	display: inline-block;
	position: relative;
	left: 50%;
	transform:translate(-50%,0);
	margin-top: 5px;
}
.member-check label {
	padding: 0 25px;
}

/*가운데서 좌우로 펼쳐지는 라인 에니메이션*/
.spread-underline {
  color: #333;
  text-decoration: none;
  display: inline-block;
  padding: 10px 0;
  position: relative;
  font-weight: bold;

}
input[type=radio] + label .spread-underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #ffc107;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
input[type=radio]:checked + label .spread-underline:after { 
  width: 100%; 
  left: 0; 
}