@charset "UTF-8";


.service-heading-block{
	display:block;
	margin-bottom:30px;
	}
.title {
  display: block;
  font-size: 30px;
  font-weight: 200;
  margin-bottom: 10px;
}
.sub-title {
  font-size: 18px;
  font-weight: 100;
  line-height: 24px;
}
.feature-block {
  background-color: #fff;
  border-radius: 2px;
  padding: 15px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  margin-bottom: 15px;
  transition:all ease .5s
}
.ms-feature:hover, 
.ms-feature:focus {
  background-color: #fafafa;
  box-shadow: 0 3px 4px 3px rgba(0, 0, 0, 0.14), 0 3px 3px -2px rgba(0, 0, 0, 0.2), 0 1px 8px 3px rgba(0, 0, 0, 0.12);
}
.fb-icon {
  border-radius: 50%;
  display: block;
  font-size: 36px;
  height: 80px;
  line-height: 80px;
  text-align:center;
  margin:1rem auto;
  width: 80px;
  transition: all 0.5s ease 0s;
}
.feature-block:hover .fb-icon,
.feature-block:focus .fb-icon {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
  transform: rotate(360deg);
}
.fb-icon.color-info {
  background-color: #5bc0de;
  color: #fff;
}
.fb-icon.color-warning {
  background-color: #eea236;
  color: #fff;
}
.fb-icon.color-success {
  background-color: #5cb85c;
  color: #fff;
}
.fb-icon.color-danger {
  background-color: #d9534f;
  color: #fff;
}
.feature-block h4 {
  font-size: 16px;
  font-weight: 500;
  margin: 3rem 0 1rem;
}
.color-info {
  color: #46b8da;
}
.color-warning {
  color: #f0ad4e;
}
.color-success {
  color: #4cae4c;
}
.color-danger {
  color: #d43f3a;
}
.btn-custom{
  border: medium none;
  border-radius: 2px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  margin: 10px 1px;
  outline: 0 none;
  padding: 8px 30px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

 .btn-warning:hover {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #f0ad4e;
    }

    
    	.my-summary-wrap {
    padding: 50px 10%;
    background: none;
    overflow: hidden;
}
.profile-wrap {
    float: left;
    width: 34%;
    padding-left: 137px;
    min-height: 120px;
    position: relative;
}
.profile-thumb-wrap {
    width: 120px;
    height: 120px;
    border-radius: 120px 120px;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.thumb-profile {
    width: 100%;
}
.profile-info-wrap {
    padding: 14px 0 0;
    font-size: 18px;
    color: #a1a4a8;
}
.my-info-wrap {
    float: right;
    width: 65%;
    margin: 30px 0 0;
}
.my-info-list {
    overflow: hidden;
}
.my-info {
    width: 25%;
    margin: 0;
    padding: 7px 0;
    background: #FFFFFF;
    border-right: 1px solid #eaeaea;
    text-align: center;
    float: left;
}
.my-info-tit {
    height: auto;
    font-size: 14px;
    letter-spacing: -0.3px;
    display: block;
}
.my-info-txt {
    margin: 2px 0 0;
    font-size: 22px;
    letter-spacing: -0.5px;
    display: block;
    color: #2f3338;
    font-weight: bold;
}
.btn-profile-thumb {
    width: 103px;
    height: 28px;
    font-size: 12px;
    line-height: 26px;
    letter-spacing: -0.6px;
    display: block;
    margin: 6px 0 0;
    color: #b7b7b7;
    border: 1px solid #DFDFDF;
    text-align: center;
}
@font-face {
     font-family: 'DungGeunMo';
     src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
     font-weight: normal;
     font-style: normal;
}
@font-face {
    font-family: 'NeoDunggeunmo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.3/NeoDunggeunmo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

#mypage{
	   font-family:'NeoDunggeunmo';
	  font-size: 50px;
}
#sub1{
	  font-family: 'DungGeunMo';
	  font-size: 22px;
}
.profile-name {
    font-size: 24px;
    color: #3d4248;
    font-weight: bold;
    }
.profile-info-wrap {
    padding: 14px 0 0;
    font-size: 18px;
    font-family: 'DungGeunMo';    
    }
    @font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

