<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="bclassMapper">
	<resultMap type="BukkeClass" id="bClassResultMap">
		<id property="classNo" column="CLASS_NO"></id>
		<result property="shopId" column="SHOP_ID"></result>
		<result property="className" column="CLASS_NAME"></result>
		<result property="classAddr" column="CLASS_ADDR"></result>
		<result property="classType" column="CLASS_TYPE"></result>
		<result property="classTypedetails" column="CLASS_TYPEDETAILS"></result>
		<result property="classInfo" column="CLASS_INFO"></result>
		<result property="classPrice" column="CLASS_PRICE"></result>
		<result property="classCapacity" column="CLASS_CAPACITY"></result>
		<result property="classEnrollDate" column="CLASS_ENROLL_DATE"></result>  
		<result property="classStartDate" column="CLASS_START_DATE"></result>
		<result property="classEndDate" column="CLASS_END_DATE"></result>
		<result property="classStartTime" column="CLASS_START_TIME"></result>
		<result property="classEndTime" column="CLASS_END_TIME"></result>
		<result property="classStatus" column="CLASS_STATUS"></result>
		<result property="cOriginalFilename" column="C_ORIGINAL_FILENAME"></result>
		<result property="cRenameFilename" column="C_RENAME_FILENAME"></result>
	</resultMap>
	 
	<!-- 게시물 리스트 카운트 -->
   <select id="selectListCount" resultType="_int">
      SELECT COUNT(*) FROM CLASS WHERE CLASS_STATUS = 'Y'
   </select>
   
   <select id="selectFlowerListCount" resultType="_int">
      SELECT COUNT(*) FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%플라워%'
   </select>
   
   <select id="selectArtListCount" resultType="_int">
      SELECT COUNT(*) FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%미술%'
   </select>
   
   <select id="selectBeautyListCount" resultType="_int">
      SELECT COUNT(*) FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%뷰티%'
   </select>
   
   <select id="selectMusicListCount" resultType="_int">
      SELECT COUNT(*) FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%음악%'
   </select>
   
   <select id="selectPhotoListCount" resultType="_int">
      SELECT COUNT(*) FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%사진%'
   </select>
   
   <!-- 클래스 리스트 출력 -->
   <select id="selectAllList" resultMap="bClassResultMap">
      SELECT * FROM CLASS WHERE CLASS_STATUS = 'Y' ORDER BY CLASS_NO DESC
   </select>
   
   <select id="selectAllFlowerList" resultMap="bClassResultMap">
      SELECT * FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%플라워%' ORDER BY CLASS_NO DESC
   </select>
   
   <select id="selectAllArtList" resultMap="bClassResultMap">
      SELECT * FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%미술%' ORDER BY CLASS_NO DESC
   </select>
   
   <select id="selectAllBeautyList" resultMap="bClassResultMap">
      SELECT * FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%뷰티%' ORDER BY CLASS_NO DESC
   </select>
   
   <select id="selectAllMusicList" resultMap="bClassResultMap">
      SELECT * FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%음악%' ORDER BY CLASS_NO DESC
   </select>
   
   <select id="selectAllPhotoList" resultMap="bClassResultMap">
      SELECT * FROM CLASS WHERE CLASS_STATUS = 'Y' AND CLASS_TYPE LIKE '%사진%' ORDER BY CLASS_NO DESC
   </select>
   
   <select id="selectOneBclass" resultMap="bClassResultMap">
   	SELECT * FROM CLASS WHERE CLASS_NO = #{classNo } AND CLASS_STATUS = 'Y'
   </select>
   
   <!-- 클래스 TOP3 목록 -->
   <select id="selectTopThreeList" resultMap="bClassResultMap">
   	SELECT * FROM (SELECT * FROM CLASS ORDER BY CLASS_END_DATE DESC) WHERE ROWNUM &lt;= 3 AND CLASS_STATUS = 'Y'
   </select>
   
   <select id="selectSearchBclass" resultMap="bClassResultMap">
		<!-- <if test="classCategory.toString() =='name'">WHERE CLASS_NAME LIKE '%' || #{classKeyword}||'%'</if> -->
		<!-- <if test="classCategory.toString() =='info'">WHERE CLASS_CONTENTS LIKE '%' || #{classKeyword}||'%'</if> -->
	   	SELECT * FROM CLASS
	   	WHERE CLASS_NAME LIKE '%' || #{classKeyword} ||'%' AND CLASS_INFO LIKE '%' || #{classKeyword} ||'%'
		ORDER BY CLASS_ENROLL_DATE DESC
   </select>
   
   <insert id="insertBclass" parameterType="BukkeClass">
   	  INSERT INTO CLASS 
   	  VALUES(SEQ_CLASS_NO.NEXTVAL, #{shopId}, #{className }, #{classAddr }, #{classType}, #{classTypedetails }, #{classInfo }, #{classPrice }, #{classCapacity },SYSDATE, #{classStartDate }, #{classEndDate },DEFAULT, #{cOriginalFilename }, #{cRenameFilename }, #{classStartTime }, #{classEndTime })
   </insert>
   
    
   <update id="updateBclass">
   		UPDATE CLASS
   		SET CLASS_NAME = #{className }, CLASS_ADDR = #{classAddr }, CLASS_TYPE = #{classType }, CLASS_TYPEDETAILS = #{classTypedetails }, 
   		CLASS_INFO = #{classInfo }, CLASS_PRICE = #{classPrice }, CLASS_START_DATE = #{classStartDate }, CLASS_END_DATE = #{classEndDate }, CLASS_START_TIME = #{classStartTime }, CLASS_END_TIME = #{classEndTime}, C_ORIGINAL_FILENAME = #{cOriginalFilename }, C_RENAME_FILENAME = #{cRenameFilename }
   		WHERE CLASS_NO = #{classNo }
   </update>
   
   <update id="deleteBclass">
   		UPDATE CLASS
   		SET CLASS_STATUS = 'N'
   		WHERE CLASS_NO = #{classNo }
   </update>
   
   <!-- 선물하기 클래스 리스트 by 분류+ 상세분류 -->
   <select id="selectGiftList" resultMap="bClassResultMap">
      select * from class where class_type = #{classType } AND class_typedetails = #{classTypedetails }
   </select>
   
   <select id="selectListCountbyId" resultType="_int">
      SELECT COUNT(*) from class where class_no in (select class_no from reservation where pay_status = 'Y' and reservation_status ='승인' and reservation_id = #{memberId})
   </select>
   
   <!-- 클래스 리스트 출력 by memberId -->
   <select id="selectAllListbyId" resultMap="bClassResultMap">
      SELECT * from class where class_no in (select class_no from reservation where pay_status = 'Y' and reservation_status ='승인' and reservation_id = #{memberId})  ORDER BY CLASS_NO DESC
   </select>
   
   <!-- 마이페이지 내 예약 조회 카운트 -->
   <select id="selectListCountbyMyId" resultType="_int">
   	SELECT COUNT(*) from class where class_no in (select class_no from reservation where reservation_id = #{memberId})
   </select>
   
   <!-- 마이페이지 내 예약 조회 리스트 -->
   <select id="selectAllListbyMyId" resultMap="bClassResultMap">
 SELECT * from class where class_no in (select class_no from reservation where reservation_id = #{memberId})  ORDER BY CLASS_NO DESC
	<!-- SELECT CLASS_NAME, CLASS_TYPE, CLASS_TYPEDETAILS, CLASS_START_DATE,RESERVATION_STATUS FROM CLASS INNER JOIN RESERVATION ON CLASS.CLASS_NO = RESERVATION.ACTIVITY_NO WHERE RESERVATION_ID=#{memberId} -->
   </select>
   
</mapper>