<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="reviewMapper">

	<resultMap type="Review" id="reviewResultMap">
		<id property="reviewNo" column="REVIEW_NO"></id>
		<result property="memberId" column="MEMBER_ID"></result>
		<result property="reviewTitle" column="REVIEW_TITLE"></result>
		<result property="reviewContents" column="REVIEW_CONTENTS"></result>
		<result property="reviewDate" column="REVIEW_DATE"></result>
		<result property="reviewStatus" column="REVIEW_STATUS"></result>
		<result property="rOriginalFilename" column="R_ORIGINAL_FILENAME"></result>
		<result property="rRenameFilename" column="R_RENAME_FILENAME"></result>
		
	</resultMap>
	
	<select id="selectReviewList" resultMap="reviewResultMap">
		SELECT * FROM REVIEW ORDER BY REVIEW_DATE DESC
	</select>
	
	<select id="selectOne" resultMap="reviewResultMap">
		SELECT * FROM REVIEW WHERE REVIEW_NO = #{reviewNo }
	</select>
	
	<!-- 로그인 기능 되면 '3' 대신 #{memberId } 들어가야함 --> 
	<insert id="insertReview" parameterType="Review">
		INSERT INTO REVIEW VALUES(SEQ_REVIEWID.NEXTVAL, '3', #{reviewTitle }, #{reviewContents }, SYSDATE, 'Y', #{rOriginalFilename },#{rRenameFilename })
	</insert>

</mapper>