<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="shopMapper">
	
	<resultMap type="Shop" id="shopResultMap">
		<id property="shopId" column="SHOP_ID"></id>		
		<result property="shopName" column="SHOP_NAME"></result>
		<result property="ceoName" column="CEO_NAME"></result>
		<result property="shopPw" column="SHOP_PW"></result>  
		<result property="shopAddr" column="SHOP_ADDR"></result> 
		<result property="shopPhone" column="SHOP_PHONE"></result> 
		<result property="shopEmail" column="SHOP_EMAIL"></result>
		<result property="crnNo" column="CRN_NO"></result>
		<result property="crnOriginalFilename" column="CRN_ORIGINAL_FILENAME"></result>
		<result property="crnRenameFilename" column="CRN_RENAME_FILENAME"></result>
		<result property="shopApproval" column="SHOP_APPROVAL"></result>
		<result property="shopRm" column="SHOP_RM"></result>
	</resultMap>
	
	<select id="selectOneShop" parameterType="Shop" resultMap="shopResultMap">
		SELECT * FROM SHOP WHERE SHOP_ID = #{ shopId } AND SHOP_PW = #{ shopPw }
	</select> 
	
	<insert id="insertShop" parameterType="Shop">
		INSERT INTO SHOP (SHOP_ID, SHOP_PW, CEO_NAME, SHOP_NAME, SHOP_ADDR, SHOP_PHONE, SHOP_EMAIL, CRN_NO,
		CRN_ORIGINAL_FILENAME, CRN_RENAME_FILENAME) VALUES
		(#{shopId}, #{shopPw}, #{ceoName}, #{shopName}, #{shopAddr}, #{shopPhone}, #{shopEmail},
		#{crnNo}, #{crnOriginalFilename}, #{crnRenameFilename})
	</insert>
	
	
	<select id="selectShopList" resultMap="shopResultMap">
		SELECT * FROM SHOP
	</select>
	
	<!-- 업체회원 수정 -->
	<update id="updateShop">
   UPDATE SHOP
   SET CEO_NAME = #{ceoName}, SHOP_NAME = #{shopName}, SHOP_ADDR = #{shopAddr}, SHOP_PHONE = #{shopPhone},
   SHOP_EMAIL = #{shopEmail},  CRN_NO = #{crnNo}, CRN_ORIGINAL_FILENAME = #{crnOriginalFilename}, CRN_RENAME_FILENAME = #{crnRenameFilename},
   CRN_RENAME_FILENAME = #{crnRenameFilename}
   WHERE SHOP_ID = #{shopId}
   </update>
	
	<!-- 업체회원 삭제 -->
	<update id="deleteShop">
    UPDATE SHOP SET
   	SHOP_RM = 'N' 
   	WHERE SHOP_ID = #{shopId}
   </update>
	
	<!-- 승인 -->
   <update id="confirmRegister">
   UPDATE SHOP SET
   SHOP_APPROVAL = 'Y' 
   WHERE SHOP_ID = #{shopId}
   </update>
   
   <!--  거절 -->
   <update id="rejectRegister">
   UPDATE SHOP SET
   SHOP_APPROVAL = 'N' 
   WHERE SHOP_ID = #{shopId}
   </update>
   
   <!-- 업체회원 총 수  -->
   <select id="selectShopListCount" resultType="_int">
		SELECT COUNT(*) FROM SHOP
	</select>
	
	
</mapper>